[tools]
{{- if eq .configType "personal" }}
chezmoi = "latest"
usage = "latest"
zoxide = "latest"
bat = "latest"
eza = "latest"
ripgrep = "latest"
fd = "latest"
lazygit = "latest"
yazi = "latest"
kubectl = "latest"
helm = "latest"
k9s = "latest"
neovim = "latest"
node = "lts"
pnpm = "latest"
buf = "latest"
k3d = "latest"
go = "latest"
{{- else }}
usage = "latest"
kubent = "latest"
{{- end }}

[settings]
{{- if eq .configType "personal" }}
experimental = true
{{- else }}

{{- end }}
