{{- if eq .configType "personal" }}
[tools]
chezmoi = "latest"
usage = "latest"
zoxide = "latest"
bat = "latest"
eza = "latest"
ripgrep = "latest"
fd = "latest"
lazygit = "latest"
yazi = "latest"
kubectl = "latest"
helm = "latest"
k9s = "latest"
neovim = "latest"
node = "lts"
pnpm = "latest"
buf = "latest"
k3d = "latest"
go = "latest"
flux2 = "latest"
yt-dlp = "latest"
age = "latest"
sops = "latest"

[settings]
experimental = true
{{- end }}
