# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Init zpack
[[ -d "${ZDOTDIR:-$HOME}/.zpack" ]] || git clone https://github.com/rneacsu/zpack.git "${ZDOTDIR:-$HOME}/.zpack"
source "${ZDOTDIR:-$HOME}/.zpack/zpack.zsh"

{{- if eq .configType "work" }}
export MAMBA_ROOT_PREFIX="${XDG_DATA_HOME:-$HOME/.local/share}/mamba"
eval "$(micromamba shell hook --shell zsh)"
micromamba activate global
alias mm='micromamba'
{{- end }}

# ohmyzsh libraries
zpack bundle omz-lib

# ohmyzsh plugins
{{- if eq .chezmoi.os "darwin" }}
zpack omz plugins/brew
{{- end }}
zpack omz plugins/git
zpack omz plugins/sudo
zpack omz plugins/kubectl
zpack omz plugins/golang
zpack omz plugins/gcloud
zpack omz plugins/gpg-agent
zpack omz plugins/terraform
zpack omz plugins/dotenv

# Programs
zpack bundle fzf --preview --tab

# Completions
zpack complete chezmoi -g
zpack complete mise -g
zpack complete kubectl
zpack complete helm -g
zpack complete k9s -g
zpack complete bat -g 'bat --completion zsh'
zpack snippet https://github.com/eza-community/eza/raw/refs/heads/main/completions/zsh/_eza
zpack complete rg -g 'rg --generate complete-zsh'
zpack snippet https://github.com/sharkdp/fd/raw/refs/heads/master/contrib/completion/_fd

# Other
alias lg='lazygit'
export BAT_THEME="base16"
eval "$(zoxide init --cmd cd zsh)"

{{- if eq .configType "personal" }}

# Personal config
zpack omz plugins/docker
zpack omz plugins/docker-compose

zpack complete k3d -g
zpack complete buf -g

{{- else }}

# Work config
zpack omz plugins/azure
zpack omz plugins/podman

zpack complete kubelogin -g
zpack complete istioctl -g

[[ $+commands[vault] == 1 ]] && complete -C vault vault

{{- end }}

[[ $+commands[kubectl] == 1 ]] && zpack snippet --bin https://github.com/kvaps/kubectl-node-shell/raw/master/kubectl-node_shell

# zsh-users
zpack bundle zsh-users

# Theme
zpack bundle powerlevel10k

zpack apply

# Other configs
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
bindkey "^H" backward-kill-word

export CLOUDSDK_PYTHON_SITEPACKAGES=1
ulimit -n 2048
