# Init zpack
[[ -d "${ZDOTDIR:-$HOME}/.zpack" ]] || git clone https://github.com/rneacsu/zpack.git "${ZDOTDIR:-$HOME}/.zpack"
source "${ZDOTDIR:-$HOME}/.zpack/zpack.zsh"

# ohmyzsh libraries
zpack omz lib/history.zsh
zpack omz lib/directories.zsh
zpack omz lib/completion.zsh
zpack omz lib/theme-and-appearance.zsh

# ohmyzsh plugins
zpack omz plugins/git
zpack omz plugins/sudo
zpack omz plugins/kubectl
zpack omz plugins/golang
zpack omz plugins/gcloud
zpack omz plugins/terraform
zpack omz plugins/dotenv
zpack omz plugins/podman

# fzf
{
  local fzf_preview_cmd fzf_tab_preview_cmd

  fzf_preview_cmd="{ [[ -f {} ]] && bat -n --color=always {} } || { [[ -d {} ]] && eza --tree --icons=always --color=always -L 3 {} }"
  fzf_tab_preview_cmd=${fzf_preview_cmd//\{\}/\$realpath}

  export FZF_DEFAULT_OPTS="--prompt='~ ' --pointer='▶' --marker='✓' --color=16"
  FZF_CTRL_T_OPTS="--height 80% --preview '$fzf_preview_cmd'"
  FZF_ALT_C_OPTS="$FZF_CTRL_T_OPTS"

  zpack load Aloxaf/fzf-tab
  zstyle ':completion:*:descriptions' format '[%d]'
  zstyle ':fzf-tab:*' use-fzf-default-opts yes
  zstyle ':fzf-tab:complete:cd:*' fzf-preview $fzf_tab_preview_cmd
  zstyle ':fzf-tab:complete:cd:*' fzf-min-height 20
  zstyle ':fzf-tab:complete:ls:*' fzf-preview $fzf_tab_preview_cmd
  zstyle ':fzf-tab:complete:ls:*' fzf-min-height 20

  source <(fzf --zsh)
}

# Completions
zpack complete chezmoi -g
zpack complete kubectl
zpack complete helm -g
zpack complete k9s -g
zpack complete bat -g 'bat --completion zsh'
zpack complete rg -g 'rg --generate complete-zsh'
zpack complete fd -g 'fd --gen-completions zsh'
zpack complete task -g 'task --completion zsh'

# Other
alias lg='lazygit'
export BAT_THEME="base16"
eval "$(zoxide init --cmd cd zsh)"

# Personal config
zpack omz plugins/gpg-agent

zpack complete mise -g
zpack complete k3d -g
zpack complete buf -g
zpack complete flux -g

# zsh-users
zpack load zsh-users/zsh-autosuggestions
zpack load zsh-users/zsh-completions
zpack load zsh-users/zsh-syntax-highlighting

zpack apply

# oh-my-posh
eval "$(oh-my-posh init zsh --config ${ZDOTDIR:-$HOME}/.omp.yaml)"

# Other configs
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
bindkey "^H" backward-kill-word

export COLORTERM=truecolor
